
@import "carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps";
$carbon--theme: $carbon--theme--g10;
@import 'carbon-components/scss/globals/scss/styles';
@import '@carbon/ibm-products/scss/index-without-carbon.scss';

// @import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
// @import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
// @import 'carbon-components/scss/globals/scss/typography.scss';
// @import 'carbon-components/scss/globals/scss/vars.scss';
// @import 'carbon-components/scss/globals/grid/grid';



.App {
  text-align: center;
  min-height: 100vh;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  // color: $text-01;
}

.App-link {
  color: #61dafb;
}

/* */
/* */
/* */

.panel-config-row {
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing-05;
  align-self: center;
  align-items: end;

  .panel-config-height-input-wrapper {
    margin-right: $spacing-05;
  }
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .panel-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;

    .wide-cell {
      display: flex;
      flex-basis: calc(8rem + 6px) !important;

      .differential-type {
        height: $spacing-07;
        display: flex;
        align-items: center;
        align-self: center;
      }
    }

    .panel-cell {
      flex-direction: column;
      background-color: $ui-03;
      flex-wrap: wrap;
      align-content: center;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 4rem;
      height: 150px;
      color: black;
      margin: 6px 6px 6px 0;
      padding-top: 16px;

      &.selected-cell {
        outline: 2px solid $interactive;
        background-color: $active-ui;
      }

      .cds--overflow-menu__wrapper {
        span.cds--popover {
          display: none;
        }
      }

      .overflow-menu-wrapper svg {
        padding: 0;
      }

      &.error-cell {
        border: 2px solid $text-error;
      }

      .panel-cell-icon-wrapper {
        height: $spacing-07;
      }

      .open-side-panel-button .bx--assistive-text, .open-side-panel-button::before {
        display: none;
      }
    }
  }
}

.cds--overflow-menu-options {
  &, & > li, & > li> button {
    display: flex;
    flex: 1 1 auto;
  }
  flex-direction: column;
}

.bx--btn .bx--btn__icon {
  right: 0;
  margin: 0;
}

.panel-width-content-switcher-wrapper {
  width: 300px;
}

.error-message-tooltip {
  display: flex;
  align-self: center;
}